@model SOSMulheres.Models.Relatos

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/styleRelatos.css" asp-append-version="true" />
</head>

<h1>Deletar este relato</h1>

<h3>Você realmente deseja deletar este relato?</h3>
<div>
    <hr />
    <h4 text-aling="center">Relato</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOcorrido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOcorrido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista de relatos</a>
    </form>
</div>
