@model IEnumerable<SOSMulheres.Models.Relatos>

@{
    ViewData["Title"] = "Testemunhos";
}

<head>
     <link rel="stylesheet" href="~/css/styleRelatos.css" asp-append-version="true" /> 
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>



<header>
    <div class="row">
        <a asp-action="Index" asp-controller="Home"><i class="fas fa-arrow-circle-left" id="font"><p id="volt">voltar à página inicial</p></i></a>
    </div>
</header>

<h1>Testemunhos</h1>

<p>
    <a asp-action="Create">Criar Novo Relato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOcorrido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOcorrido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar Relato</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes do Relato</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar Relato</a>
            </td>
        </tr>
}
    </tbody>
</table>
