@model APPNet.Models.Produto

@{
    ViewBag.Title ="Listando dados";
}
<h2> Lista os dados do Produto</h2>
<fieldset>
    <legend>Produto</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Nome)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Nome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Descricao)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Descricao)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Valor)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Valor)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model=> model.File)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.File)
    </div>

</fieldset>

<p>
    @Html.ActionLink("Voltar","Index")
</p>